
// Colors
$color-black    : #000;
$color-white    : #fff;
$color-primary  : rgb(0,197,150);
$color-secondary: #21c9cc;
$color-grey     : #f3f3f4;
$color-grey-dark: #353535;


// Spacing
$spacing-large  : 30px;
$spacing-normal : 20px;
$spacing-small  : 10px;


// Media
$tablet         : 780px;
$mobile         : $tablet;



