
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-bulb" version="1.1" x="0" y="0" viewBox="0 0 97 123.6" enable-background="new 0 0 97 123.6" xml:space="preserve">

      <rect x="61.1" y="0" fill="#F5D858" width="11.5" height="11.5"/>
      <rect x="48.9" y="0" fill="#FCDA60" width="11.5" height="11.5"/>
      <rect x="36.6" y="0" fill="#F9D14C" width="11.5" height="11.5"/>
      <rect x="24.4" y="0" fill="#F5CD3B" width="11.5" height="11.5"/>
      <rect x="36.6" y="12.2" fill="#FACF53" width="11.5" height="11.5"/>
      <rect x="24.4" y="12.2" fill="#F7BF38" width="11.5" height="11.5"/>
      <rect x="12.2" y="12.2" fill="#F4BF33" width="11.5" height="11.5"/>
      <rect x="48.9" y="24.4" fill="#F9E071" width="11.5" height="11.5"/>
      <rect x="36.6" y="24.4" fill="#F7C042" width="11.5" height="11.5"/>
      <rect x="24.4" y="24.4" fill="#F7B52B" width="11.5" height="11.5"/>
      <rect x="12.2" y="24.4" fill="#F6B426" width="11.5" height="11.5"/>
      <rect x="0" y="24.4" fill="#A3792B" width="11.5" height="11.5"/>
      <rect x="85.5" y="36.6" fill="#B2802C" width="11.5" height="11.5"/>
      <rect x="73.3" y="36.6" fill="#F5AD23" width="11.5" height="11.5"/>
      <rect x="61.1" y="36.6" fill="#F5B52D" width="11.5" height="11.5"/>
      <rect x="48.9" y="36.6" fill="#F7B42D" width="11.5" height="11.5"/>
      <rect x="36.6" y="36.6" fill="#F5AD23" width="11.5" height="11.5"/>
      <rect x="24.4" y="36.6" fill="#F6A320" width="11.5" height="11.5"/>
      <rect x="12.2" y="36.6" fill="#F3AB21" width="11.5" height="11.5"/>
      <rect x="0" y="36.6" fill="#B2802C" width="11.5" height="11.5"/>
      <rect x="85.5" y="48.9" fill="#A26F2A" width="11.5" height="11.5"/>
      <rect x="73.3" y="48.9" fill="#F4A21F" width="11.5" height="11.5"/>
      <rect x="61.1" y="48.9" fill="#F4A420" width="11.5" height="11.5"/>
      <rect x="48.9" y="48.9" fill="#F5A821" width="11.5" height="11.5"/>
      <rect x="36.6" y="48.9" fill="#F8A721" width="11.5" height="11.5"/>
      <rect x="24.4" y="48.9" fill="#F5A320" width="11.5" height="11.5"/>
      <rect x="12.2" y="48.9" fill="#F4A21F" width="11.5" height="11.5"/>
      <rect x="0" y="48.9" fill="#A0702A" width="11.5" height="11.5"/>
      <rect x="73.3" y="61.1" fill="#D38529" width="11.5" height="11.5"/>
      <rect x="61.1" y="61.1" fill="#F69F22" width="11.5" height="11.5"/>
      <rect x="48.9" y="61.1" fill="#F8B236" width="11.5" height="11.5"/>
      <rect x="36.6" y="61.1" fill="#FAB333" width="11.5" height="11.5"/>
      <rect x="24.4" y="61.1" fill="#F49E21" width="11.5" height="11.5"/>
      <rect x="12.2" y="61.1" fill="#D2852A" width="11.5" height="11.5"/>
      <rect x="61.1" y="73.3" fill="#F39922" width="11.5" height="11.5"/>
      <rect x="48.9" y="73.3" fill="#F8C452" width="11.5" height="11.5"/>
      <rect x="36.6" y="73.3" fill="#FBC452" width="11.5" height="11.5"/>
      <rect x="24.4" y="73.3" fill="#F29821" width="11.5" height="11.5"/>
      <rect x="61.1" y="87.6" fill="#C0C0C0" width="11.5" height="11.5"/>
      <rect x="48.9" y="87.6" fill="#C9C9C9" width="11.5" height="11.5"/>
      <rect x="36.6" y="87.6" fill="#CACAC9" width="11.5" height="11.5"/>
      <rect x="24.4" y="87.6" fill="#C0BEBF" width="11.5" height="11.5"/>
      <rect x="61.1" y="99.8" fill="#CCCCCE" width="11.5" height="11.5"/>
      <rect x="48.9" y="99.8" fill="#D6D6D6" width="11.5" height="11.5"/>
      <rect x="36.6" y="99.8" fill="#D6D7D6" width="11.5" height="11.5"/>
      <rect x="24.4" y="99.8" fill="#CDCBCC" width="11.5" height="11.5"/>
      <rect x="48.9" y="112" fill="#C3C1C2" width="11.5" height="11.5"/>
      <rect x="36.6" y="112" fill="#C2C2C2" width="11.5" height="11.5"/>
      <rect x="85.5" y="24.4" fill="#7C6C4B" width="11.5" height="11.5"/>
      <rect x="73.3" y="24.4" fill="#FAC342" width="11.5" height="11.5"/>
      <rect x="73.3" y="12.2" fill="#F9CF4D" width="11.5" height="11.5"/>

    </svg>

