/**
 * _card
 */

.card {
    background      : $color-white;
    padding         : 0;
    text-align      : left;
    display         : inline-block;
    //overflow        : hidden;
    animation       : card 1s ease both 500ms;
    vertical-align  : bottom;
    will-change     : transform;

    position        : absolute;
    bottom          : 0;
    left            : 50%;
    transform       : translateX(-50%);
    z-index         : 50;

    width           : 100%;
    //max-width       : 800px;

    @include bp(mobile) {
        //top         : 115px;
        //bottom      : 0;
    }

    .copy {
        //width       : calc(50% - 100px);
        text-align  : right;
        float       : right;
        position    : relative;
        right       : 50%;
        padding     : 50px;
        animation   : copy-container-in 1s ease both 200ms;
        @include bp(mobile) {
            animation   : none;
            right       : 0;
            text-align  : center;
            float       : none;
            margin      : 0px 0 0;
        }
    }

    .img {
        background-size     : contain;
        animation           : media-in 1s ease both 200ms;
        background-image    : url("../media/cw.jpg");
        background-repeat   : no-repeat;
        background-color    : #040404;
        display             : inline-block;
        position            : absolute;
        top                 : -30px;
        bottom              : -30px;
        right               : 0;
        width               : 50%;

        @include bp(mobile) {
            animation       : none;
            display         : none;
            right           : 50%;
            border-radius   : 100%;
            transform       : translateX(50%);
            @include quadratic(100px);
            top             : 30px;
        }
    }

    h2 {
        font-size       : 18px;
        text-transform  : none;
        line-height     : 22px;
        animation       : copy-in 1s ease both 300ms;

        a {
            color               : #fab613;
            text-decoration     : none;
        }

        span {
            font-family : 'interfaceregular';
            display     : block;
            font-size   : 15px;
            color       : #5e5e5e;
        }
    }
    hr {
        background      : #e5e5e5;
        width           : 100%;
        border          : none;
        outline         : none;
        height          : 1px;
        margin          : 20px auto;
        animation       : line-in 1s ease both 800ms;
    }

    blockquote {
        font-family     : "Georgia", "Times New Roman";
        font-size       : 19px;
        line-height     : 24px;
        font-style      : italic;
        font-weight     : normal;
        padding         : 0;
        margin          : 0;
        animation       : copy-in 1s ease both 400ms;
        cite {
            font-style  : italic;
            margin      : 10px 0 0;
            font-size   : 12px;
            display     : block;
        }
    }

    .social {
        animation       : copy-in 1s ease both 550ms;
        position        : relative;
        left            : -5px;
        a {
            text-decoration     : none;
            padding             : 0 10px;
        }
        svg {
            max-width   : 25px;
        }
    }
}


@keyframes copy-in {
    from {
        transform   : translateX(400px);
    }
    to {
        transform   : translateX(0);
    }
}

@keyframes media-in {
    from {
        background-position     : -500px 0;
        width                   : 0%;
    }
    to {
        background-position     : 0 0;
        width                   : 50%;
    }
}

@keyframes copy-container-in {
    from {
        right           : 00%;
    }
    to {
        right           : 50%;
    }
}
@keyframes line-in {
    from {
        width           : 0;
    }
    to {
        widht           : 100%;
    }
}
