section {
	width   : 100%;
	position: relative;

	&[role=intro] {
		overflow                : hidden;
		backface-visibility     : hidden;
		height 					: 90%;

		video {
			min-width   : 120%;
			min-height  : 120%;
			height      : auto;
			@include positioner(-10%, -10%, auto, auto);
		}

		h1 {
			span {
				font-size       : 16px;
				line-height     : 21px;
				display         : block;
				text-align      : center;
				text-transform  : none;
				font-weight     : 200;
				margin-bottom   : $spacing-normal;
			}
		}

		.backdrop {
			position    : fixed;
			top         : 0; bottom : 0;
			left        : 0; right  : 0;
			background  : $color-grey;
			animation   : scale-up 25s linear both;
		}
	}

	&[role=process] {
		&:before {
			content     : '';
			background  : url("../media/products/product_4.jpg") no-repeat left center;
			background-size : cover;
			@include positioner();
			opacity     : 1;
		}

		background      : $color-grey-dark;
		height          : 100vh;
		min-height 		: 620px;

		.text {
			position        : relative;
			top             : 50%;
			left            : 60px;
			transform       : translateY(-50%) translateX(0);
			max-width       : 400px;

			h1{
				margin-bottom: 30px;
			}
			p {
				&:not(:last-child) {
					padding-bottom  : $spacing-normal;
				}
				margin          : 0;
				display         : block;
				strong{
					padding-top: 10px;
					display 	: block;
				}
			}
		}

		@include bp(mobile) {
			height      	: auto;
			min-height 		: 420px;
			padding 		: 40px 0 40px;
			.text {
				position        : relative;
				max-width       : 100%;
				top 			: 0px;
				left 			: 0px;
				padding 		: 20px 60px 20px 20px;
				transform 		: none;
				background-color: rgba(255,255,255,0.25);
			}
			&:before {
				background-position: top right;
			}
		}
	}



	&.columns {
		font-size       : 0;
		overflow        : hidden;

		@include bp(mobile) {
			height      : auto;
		}

		.col {
			width       	: 50%;
			font-size   	: initial;
			display     	: inline-block;
			height      	: 100vh;
			position    	: relative;
			vertical-align  : top;
			overflow        : hidden;
			padding 		: 40px;
			min-height 		: 620px;

			.inner{
				background-size 		: cover;
				background-position 	: left top;
				height 					: 100%;
				width 					: 100%;
				padding-top 			: 100px;
				text-align 				: center;
				position 				: relative;

				.btns{
					padding-top 		: 160px;
					width 				: 100%;
				}
				a{
					padding 	: 0 10px;
				}
			}

			&.col-1{
				padding-right 	: 20px;
			}

			&.col-2 {
				padding-left 	: 20px;
			}

			@include bp(mobile) {
				width   : 100%;
				padding: 20px;
				min-height: 280px;
				height      	: 280px;
				&.col-2{
					padding-top 	: 0px;
					height 			: 420px;
				}
			}
		}
	}

	&[role=about] {
		height: 100vh;
		min-height 		: 620px;
		background-position: top right;
		@include bp(mobile) {
			background-position: 40% center;
		}

		.statement{
			position            : absolute;
			top                 : 50%;
			right               : 100px;
			z-index             : 2;
			max-width           : 350px;
			text-align          : left;
			transform           : translateY(-50%);
			color               : $color-grey-dark;
			ul{
				margin              : 0;
				padding             : 0;
				list-style          : none;
				text-align          : left;
				li{
					display             : inline-block;
					height              : 2px;
					width               : 20px;
					margin-right         : 10px;
					background-color    : $color-grey-dark;
					opacity             : 0.3;
					transition          : opacity 0.2s ease;
					&.active{
						opacity: 1;
					}
				}
			}
			@include bp(mobile) {
				position 		: relative;
				left 			: 20px;
				width 			: 240px;
				min-height 		: 420px;
				top: 70%;
				color               : $color-white;
				ul li{
					background-color    : $color-white;
				}
			}
		}

	}

	&[role=order] {
		.col{
			min-height: 620px;
		}
		.col-1{
			.inner{
				padding-top: 0;
			}

		}

		.newsletter .inner{
			text-align: left;
			padding: 60px;
			h1{
				max-width: 440px;
			}
			p{
				max-width: 500px;
			}
		}

		.buy-section{
			position 			: absolute;
			top 				: 60px;
			left 				: 60px;
			z-index 			: 2;
			text-align 			: left;
			width 				: 174px;

			h1{
				background-color 	: $color-white;
				padding 			: 20px 0 16px;
				display 			: block;
				width 				: 163px;
				margin-top 			: 20px;
				position 			: relative;
				z-index 			: 1;
				text-align 			: center;
			}
			iframe{
				display 			: inline-block;
			}
			.btn{
				margin-top 			: -5px;
				width 				: 100%;
				display 			: block;

			}
		}
		@include bp(mobile) {
			height          : auto;
			.col-1 {
				height 			: 100vh;
				min-height 		: 0;
			}
			.col-2 {
				height 			: auto !important;
				min-height 		: 0;
				&.newsletter .inner{
					padding 		: 40px 20px 20px;
					height 			: auto;
					.centered-y{
						position 		: relative;
						transform 		: none;
						top 			: 0;
					}
				}
			}
		}
	}

	&[role=confirm] {
		background      : url("../media/confirm-man.jpg") no-repeat center center;
		background-size : cover;

		.headline {
			max-width       : 40%;
			position        : absolute;
			left            : 50%;
			top             : 50%;
			transform       : translateY(-50%);
		}
		h1 {
			letter-spacing  : calc-letter-spacing(20);
			font-weight     : 100;
			text-transform  : none;
			text-align      : left;
		}
		p:not(:last-child) {
			padding-bottom: 20px;
		}
		.link {
			color           : $color-black;
			font-size       : 20px;
			font-weight     : 200;
			text-decoration : none;
			outline         : none;
			span {
				padding-left  : 5px;
			}
			&:hover .icon--arrow {
				animation     : bounce--left 300ms ease 2 both;
			}
		}
		.icon--arrow {
			width           : 16px;
			height          : 14px;
		}
		@include bp(mobile) {
			.headline {
				max-width     : 80%;
				top           : 100px;
				left          : 10%;
				transform     : none;
			}
			p:not(:last-child) {
				padding-bottom: 10px;
			}
		}
	}
}


@keyframes scale-up {
	100% {
		transform: scale(1.2);
	}
}

@keyframes scroll-indikator {
	0%, 20% {
		transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
	}
	10% {
		transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
		opacity: 0.01;
	}
}

@keyframes bounce--left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-4px);
	}
}

