<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .emailImage{
            height:auto !important;
            max-width:600px !important;
            width: 100% !important;
        }
    </style>
</head>
<body>
<img src="http://shft.coach/media/email/logo-banner.jpg" alt="Running man" height="" width="" class="emailImage" />
<br>
<br>
Thank you for placing your order! Please review your order details for accuracy.<br>

{{#if isPreapprovedPayPal}}
<br>
IMPORTANT NOTE ABOUT PAYPAL: You will receive an email from PayPal indicating that you have signed up for a "<b>preapproved payments plan with Celery</b>". This <a href="http://help.trycelery.com/knowledgebase/articles/422865">preapproved payments plan</a> is a <b>temporary authorization</b> that allows us to charge your order at a later time. It will be <b>automatically removed</b> once your order has been charged.<br>
{{/if}}
<br>
<b>Order Details</b><br>

{{#if notes_for_seller}}
<br>
Notes for Seller: {{notes_for_seller}}<br>
{{/if}}

{{#if hasShippingAddress}}
<br>
Shipping Address:<br>
{{#if shipping_address.name}}&nbsp;&nbsp;{{shipping_address.name}}<br>{{/if}}
{{#if shipping_address.company}}&nbsp;&nbsp;{{shipping_address.company}}<br>{{/if}}
{{#if shipping_address.line1}}&nbsp;&nbsp;{{shipping_address.line1}}<br>{{/if}}
{{#if shipping_address.line2}}&nbsp;&nbsp;{{shipping_address.line2}}<br>{{/if}}
{{#if shipping_address.city}}&nbsp;&nbsp;{{shipping_address.city}}{{/if}} {{#if shipping_address.state}}{{shipping_address.state}}{{/if}} {{#if shipping_address.zip}}{{shipping_address.zip}}{{/if}}<br>
{{#if shipping_address.country}}&nbsp;&nbsp;{{formatCountry shipping_address.country}}<br>{{/if}}
{{#if shipping_address.phone}}&nbsp;&nbsp;{{shipping_address.phone}}<br>{{/if}}
{{/if}}

<br>
Line Items:<br>
{{#each line_items}}
&nbsp;&nbsp;{{quantity}}x {{product_name}} for {{formatCurrency price currency}} each<br>
{{#if variant_name}}&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#999;">{{variant_name}}</span><br>{{/if}}
{{/each}}

{{#if adjustments}}
<br>
Adjustments:<br>
{{#each adjustments}}
&nbsp;&nbsp;{{#if reason}}{{reason}}{{else}}Reason{{/if}}: {{formatCurrency amount currency}}<br>
{{/each}}
{{/if}}

{{#if discounts}}
<br>
Discounts:<br>
{{#each discounts}}
&nbsp;&nbsp;{{code}}: {{#if ../hasFreeShipping}}FREE SHIPPING{{else}}{{formatCurrency ../../discount currency}} off{{/if}}<br>
{{/each}}
{{/if}}

<br>
Subtotal: {{formatCurrency subtotal currency}}<br>
Taxes: {{formatCurrency taxes currency}}<br>
Shipping: {{formatCurrency shipping currency}}<br>
Total: {{formatCurrency total currency}}<br>
---<br>
Total Paid: {{formatCurrency paid currency}}<br>
Balance Due: {{formatCurrency balance currency}}<br>
<br>
Update your shipping address or payment information in <a href="{{statusUrl}}">Order Lookup</a>.<br>
<br>
You can email us at <a href="mailto:{{sellerEmail}}">{{sellerEmail}}</a>.
<br>
<img src="http://shft.coach/media/email/email.jpg" alt="Running man" height="" width="" class="emailImage" />
</body>
</html>
